@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Liên hệ</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--  Main Breadcrumb -->
<div class="main-maps">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.9391689874245!2d105.77895782915209!3d21.042419850797675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454cb662fbbc5%3A0x34d41e275dc31f7!2zTmfDtSAxIFBo4bqhbSBWxINuIMSQ4buTbmcsIE1haSBE4buLY2gsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1525556558703" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<!-- End Main Breadcrumb -->
<!-- Main Content -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 form-style form-login">

                <form accept-charset="UTF-8" action="/contact" id="contact" method="post">
                    <input name="FormType" type="hidden" value="contact">
                    <input name="utf8" type="hidden" value="true">

                    <div class="row">
                        <div class="col-md-2">
                            <p>Họ và tên*</p>
                        </div>
                        <div class="col-md-10">
                            <input type="text" value="" name="contact[Name]" title="First Name" class="input-text ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Email*</p>
                        </div>
                        <div class="col-md-10">
                            <input type="text" value="" class="input-text" name="contact[email]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Nội dung*</p>
                        </div>
                        <div class="col-md-10">
                            <textarea name="contact[Body]" title="Comment" class="required-entry input-text" cols="5" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <button class="btn-cart">Gửi nhận xét</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 footer-info contact-info">
                <div class="footer-info">
                    <h3 class="company">Công ty cổ phần thông tin mạng Việt Nam</h3>
                    <p>Số 1 Phạm Văn đồng, P. Mai Dịch, Q. Cầu giấy, Hà Nội</p>
                    <p>Tel: 0973.642.632</p>
                    <p>Fax: 0973.642.632</p>
                    <p>email@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Content -->