
<script src="~/Scripts/jquery.min.js"></script>

<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 hidden-xs">
                    <h4>Đóng góp và phản hồi về hệ thống</h4>
                </div>
                <div class="col-md-5 col-sm-6">
                    <input type="email" value="" class="input-text required-entry" placeholder="Vui lòng nhập email" id="txtEmail">
                    <button class="btn-cart" id="sub">Gửi phản hồi</button>
                </div>
                <div class="col-md-3 hidden-sm hidden-xs foo-phone">
                    <i class="fa fa-microphone"></i> 0944.922.247
                </div>
            </div>

        </div>
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-info">
                        <h3 class="company">MTP</h3>
                        <h4>Tỉnh Dak Lak</h4>
                        <p>An Bình, Buôn Hồ, Đăk Lăk</p>
                        <p>Tel: 0944.922.xxx</p>
                        <p>Fax:  0944.922.xxx</p>
                        <p>NgocLVH@gmail.com</p>
                        <h4>Đăk Lăk</h4>
                        <p>An Bình, Buôn Hồ, Đăk Lăk</p>
                        <p>Tel: 0944.922.xxx</p>
                        <p>Fax: 0944.922.xxx</p>
                        <p>NgocLVH@gmail.com </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-info">
                        <h3>Giới thiệu chung</h3>
                        <ul class="foo-list">

                            <li><a href="#/gioi-thieu">Góc văn hóa</a></li>

                            <li><a href="#/gioi-thieu">Tin khuyến mại</a></li>

                            <li><a href="#/gioi-thieu">Tin tức công nghệ</a></li>

                            <li><a href="#/gioi-thieu">Tư vấn tiêu dùng</a></li>

                            <li><a href="#/gioi-thieu">Tin công ty</a></li>

                            <li><a href="#/gioi-thieu">Quan hệ cổ đông</a></li>
                        </ul>
                        <h3 class="h3-pad30">Kết nối với chúng tôi</h3>
                        <ul class="foo-social">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-info">
                        <h3>Hỗ trợ mua hàng</h3>
                        <ul class="foo-list">

                            <li><a href="#/tu-van">Hỗ trợ mua hàng trực tuyến</a></li>

                            <li><a href="#/tu-van">Các hình thức thanh toán</a></li>

                            <li><a href="#/tu-van">Hướng dẫn mua hàng trả góp</a></li>
                        </ul>
                        <h3 class="h3-pad30">Chính sách chung</h3>
                        <ul class="foo-list">

                            <li><a href="#/">Chính sách đổi trả hàng</a></li>

                            <li><a href="#/">Chính sách mua trả góp</a></li>

                            <li><a href="#/">Chương trình khuyến mại</a></li>

                            <li><a href="#/">Chính sách mua hàng online</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-info">
                        <h3>Các hình thức thanh toán</h3>
                        <img src="~/img/pay.png" alt="Pay" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" style="min-height: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="copy-right">© Bản quyền thuộc về Pi | Cung cấp bởi <a href="https://seakBz.github.io" title="Phúc Binz" rel="nofollow">Pi</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<style>
    .contact-form {
        background: #fff;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 70%;
    }

        .contact-form .form-control {
            border-radius: 1rem;
        }

    .contact-image {
        text-align: center;
    }

        .contact-image img {
            border-radius: 6rem;
            width: 11%;
            margin-top: -3%;
            transform: rotate(29deg);
        }

    .contact-form form {
        padding: 14%;
    }

        .contact-form form .row {
            margin-bottom: -7%;
        }

    .contact-form h3 {
        margin-bottom: 8%;
        margin-top: -10%;
        text-align: center;
        color: #0062cc;
    }

    .contact-form .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: #dc3545;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }

    .btnContactSubmit {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #0062cc;
        border: none;
        cursor: pointer;
    }
</style>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Gửi phản hồi</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtEmail" id="mail" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtPhone" class="form-control"  placeholder="Your Phone Number *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="submit" name="btnSubmit" class="btn btn-success" value="Gửi" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#sub").click(function () {
            $('#myModal').modal('show');
            $('#mail').val($('#txtEmail').val());
        });
    });
</script>