<section class="bg-slide">
    <div class="container">
        <div class="col-sm-12 col-xs-12 hidden-lg hidden-md no-padding">
            <div class="verticalmenu" id="category-mobile">
                <h3 class="title_block">
                    <i class="fa fa-bars"></i><span>Danh mục</span>
                </h3>
                <div class="verticalcontent" style="display:none">
                    <ul class="list-child">

                        <li class="level-0">
                            <a href="#/collections/all">
                                Tất cả sản phẩm
                                <em class="open-close-1"></em>
                            </a>
                            <ul class="sub-category" style="display:none;">

                                <li class="level-1">
                                    <a href="#/dien-thoai">
                                        Điện thoại
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">
                                        @*///*@
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/tablet">
                                        Tablet
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/tablet">Acer</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tablet">Asus</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tablet">Apple</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tablet">Lenovo</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/tivi">
                                        Tivi
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/tivi">Sam sung</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tivi">Sony</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tivi">Panasonic</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tivi">Bravia</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/dien-lanh">
                                        Điện lạnh
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/dien-lanh">Điều hòa</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/dien-lanh">Máy Giặt</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/dien-lanh">Bình nước nóng</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/dien-lanh">Cây lọc nước</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/may-anh">
                                        Máy ảnh
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/may-anh">Canon</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/may-anh">Sony</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/may-anh">Nikon</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/may-anh">Fujitsu</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/phu-kien-cong-nghe">
                                        Phụ kiện công nghệ
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/dien-thoai">Điện thoại</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/may-anh">Máy ảnh</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tablet">Tablet</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/phu-kien-cong-nghe">Camera</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="level-0">
                            <a href="#/dien-thoai">
                                Điện thoại
                                <em class="open-close-1"></em>
                            </a>
                            <ul class="sub-category" style="display:none;">

                                <li class="level-1">
                                    <a href="#/dien-thoai">Sony</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/dien-thoai">Sam sung</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/dien-thoai">Appo</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/dien-thoai">iphone</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level-0">
                            <a href="#/tablet">
                                Tablet
                                <em class="open-close-1"></em>
                            </a>
                            <ul class="sub-category" style="display:none;">

                                <li class="level-1">
                                    <a href="#/tablet">Acer</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/tablet">Asus</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/tablet">Apple</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/tablet">Lenovo</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level-0">
                            <a href="#/tivi">
                                Tivi
                                <em class="open-close-1"></em>
                            </a>
                            <ul class="sub-category" style="display:none;">

                                <li class="level-1">
                                    <a href="#/tivi">Sam sung</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/tivi">Sony</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/tivi">Panasonic</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/tivi">Bravia</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level-0">
                            <a href="#/dien-lanh">
                                Điện lạnh
                                <em class="open-close-1"></em>
                            </a>
                            <ul class="sub-category" style="display:none;">

                                <li class="level-1">
                                    <a href="#/dien-lanh">Điều hòa</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/dien-lanh">Máy Giặt</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/dien-lanh">Bình nước nóng</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/dien-lanh">Cây lọc nước</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level-0">
                            <a href="#/may-anh">
                                Máy ảnh
                                <em class="open-close-1"></em>
                            </a>
                            <ul class="sub-category" style="display:none;">

                                <li class="level-1">
                                    <a href="#/may-anh">Canon</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/may-anh">Sony</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/may-anh">Nikon</a>
                                </li>

                                <li class="level-1">
                                    <a href="#/may-anh">Fujitsu</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level-0">
                            <a href="#/phu-kien-cong-nghe">
                                Phụ kiện công nghệ
                                <em class="open-close-1"></em>
                            </a>
                            <ul class="sub-category" style="display:none;">

                                <li class="level-1">
                                    <a href="#/dien-thoai">
                                        Điện thoại
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/dien-thoai">Sony</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/dien-thoai">Sam sung</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/dien-thoai">Appo</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/dien-thoai">iphone</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/may-anh">
                                        Máy ảnh
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/may-anh">Canon</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/may-anh">Sony</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/may-anh">Nikon</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/may-anh">Fujitsu</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/tablet">
                                        Tablet
                                        <em class="open-close-2"></em>
                                    </a>
                                    <ul class="sub-category-2" style="display:none;">

                                        <li class="level-1">
                                            <a href="#/tablet">Acer</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tablet">Asus</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tablet">Apple</a>
                                        </li>

                                        <li class="level-1">
                                            <a href="#/tablet">Lenovo</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level-1">
                                    <a href="#/phu-kien-cong-nghe">Camera</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level-0">
                            <a href="#/dien-lanh">Đồ gia dụng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs no-padding">
            <div class="verticalmenu">
                <h3 class="title_block">
                    <i class="fa fa-bars"></i><span>Danh mục</span>
                </h3>
                <div class="verticalcontent">
                    <ul class="list-child">

                        <li class="level0 ">
                            <a href="#/collections/all"><i class="fa fa-angle-right"></i> Tất cả sản phẩm</a>
                            <ul class="submenu sub02">

                                <li class="level1">
                                    <a href="#/dien-thoai">
                                        Điện thoại
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/dien-thoai">Sony</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-thoai">Sam sung</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-thoai">Appo</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-thoai">iphone</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/tablet">
                                        Tablet
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/tablet">Acer</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tablet">Asus</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tablet">Apple</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tablet">Lenovo</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/tivi">
                                        Tivi
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/tivi">Sam sung</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tivi">Sony</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tivi">Panasonic</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tivi">Bravia</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/dien-lanh">
                                        Điện lạnh
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/dien-lanh">Điều hòa</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-lanh">Máy Giặt</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-lanh">Bình nước nóng</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-lanh">Cây lọc nước</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/may-anh">
                                        Máy ảnh
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/may-anh">Canon</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/may-anh">Sony</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/may-anh">Nikon</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/may-anh">Fujitsu</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/phu-kien-cong-nghe">
                                        Phụ kiện công nghệ
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/dien-thoai">Điện thoại</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/may-anh">Máy ảnh</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tablet">Tablet</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/phu-kien-cong-nghe">Camera</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="level0 ">
                            <a href="#/dien-thoai"><i class="fa fa-angle-right"></i> Điện thoại</a>
                            <ul class="submenu sub02">
                                <li ng-repeat="nsx in LstNhaSanXuat" class="level1">
                                    <a href="../Product/NhaSX?proid={{nsx.MaNSX}}">{{nsx.TenNSX}}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level0 ">
                            <a href="#/tablet"><i class="fa fa-angle-right"></i> Tablet</a>
                            <ul class="submenu sub02">

                                <li class="level1">
                                    <a href="#/tablet">Acer</a>
                                </li>

                                <li class="level1">
                                    <a href="#/tablet">Asus</a>
                                </li>

                                <li class="level1">
                                    <a href="#/tablet">Apple</a>
                                </li>

                                <li class="level1">
                                    <a href="#/tablet">Lenovo</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level0 ">
                            <a href="#/tivi"><i class="fa fa-angle-right"></i> Tivi</a>
                            <ul class="submenu sub02">

                                <li class="level1">
                                    <a href="#/tivi">Sam sung</a>
                                </li>

                                <li class="level1">
                                    <a href="#/tivi">Sony</a>
                                </li>

                                <li class="level1">
                                    <a href="#/tivi">Panasonic</a>
                                </li>

                                <li class="level1">
                                    <a href="#/tivi">Bravia</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level0 ">
                            <a href="#/dien-lanh"><i class="fa fa-angle-right"></i> Điện lạnh</a>
                            <ul class="submenu sub02">

                                <li class="level1">
                                    <a href="#/dien-lanh">Điều hòa</a>
                                </li>

                                <li class="level1">
                                    <a href="#/dien-lanh">Máy Giặt</a>
                                </li>

                                <li class="level1">
                                    <a href="#/dien-lanh">Bình nước nóng</a>
                                </li>

                                <li class="level1">
                                    <a href="#/dien-lanh">Cây lọc nước</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level0 ">
                            <a href="#/may-anh"><i class="fa fa-angle-right"></i> Máy ảnh</a>
                            <ul class="submenu sub02">

                                <li class="level1">
                                    <a href="#/may-anh">Canon</a>
                                </li>

                                <li class="level1">
                                    <a href="#/may-anh">Sony</a>
                                </li>

                                <li class="level1">
                                    <a href="#/may-anh">Nikon</a>
                                </li>

                                <li class="level1">
                                    <a href="#/may-anh">Fujitsu</a>
                                </li>
                            </ul>
                        </li>

                        <li class="level0 ">
                            <a href="#/phu-kien-cong-nghe"><i class="fa fa-angle-right"></i> Phụ kiện công nghệ</a>
                            <ul class="submenu sub02">

                                <li class="level1">
                                    <a href="#/dien-thoai">
                                        Điện thoại
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/dien-thoai">Sony</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-thoai">Sam sung</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-thoai">Appo</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/dien-thoai">iphone</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/may-anh">
                                        Máy ảnh
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/may-anh">Canon</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/may-anh">Sony</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/may-anh">Nikon</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/may-anh">Fujitsu</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/tablet">
                                        Tablet
                                        <em class="open-close-1"></em>
                                    </a>
                                    <ul class="submenu1 sub03">

                                        <li class="level2">
                                            <a href="#/tablet">Acer</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tablet">Asus</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tablet">Apple</a>
                                        </li>

                                        <li class="level2">
                                            <a href="#/tablet">Lenovo</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="level1">
                                    <a href="#/phu-kien-cong-nghe">Camera</a>
                                </li>
                            </ul>
                        </li>

                        <li class="fix-show level0 ">
                            <a href="#/dien-lanh"><i class="fa fa-angle-right"></i> Đồ gia dụng</a>
                        </li>

                        <li class="level0 xemthem"><a href="javascript:;">Xem thêm</a></li>
                        <li class="level0 thugon" style="display: none;"><a href="javascript:;">Thu gọn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 no-padding">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/img/slideshow_image_1.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/img/slideshow_image_2.jpg" alt="Chicago" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/img/slideshow_image_3.jpg" alt="New york" style="width:100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs no-padding">
            <div class="video-right block">
                <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KGO6fiwyBnM" allowfullscreen></iframe>
                </div>
            </div>
            <div class="banner-right">
                <a href="#">
                    <img src="~/img/banner-right.png" alt="Ateck" class="img-responsive" style="padding-left: 3px;padding-top: 8px;height: 202px;">
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 no-padding">
            <hr>
        </div>
    </div>
</section>