<section class="main-blog">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="blog-inner item-news" style="min-height:325px">
                    <div class="blog-home-title clearfix">
                        <h3>Tin tức</h3>
                    </div>
                    <div class="blog-content">

                        <div class="post-article clearfix">
                            <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                                <div class="blog-img">
                                    <a href="#/tong-hop-kinh-nghiem-lua-chon-loi-khuyen-ve-dtdd-phu-kien">

                                        <img src="~/img/3650618-20160324-215536.jpg" alt="Tổng hợp kinh nghiệm lựa chọn - lời khuyên về ĐTDĐ, phụ kiện" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 no-padding-right">
                                <div class="more-info">
                                    <h3><a href="#/tong-hop-kinh-nghiem-lua-chon-loi-khuyen-ve-dtdd-phu-kien">Tổng hợp kinh nghiệm lựa chọn - lời khuyên về ĐTDĐ, phụ kiện</a></h3>
                                    <p class="blog-description"> Đối với nhiều người thì ĐTDĐ bây giờ như một vật bất ly thân, cùng họ giải trí, làm việc và quan trọng hơn cả là liên lạc. Nhưng không phải lúc nào cũng dễ dàng lựa chọn được... </p>
                                    <p class="viewmore"><a href="#/tong-hop-kinh-nghiem-lua-chon-loi-khuyen-ve-dtdd-phu-kien">Chi tiết <i class="fa fa-angle-right"></i> </a></p>
                                </div>
                            </div>
                        </div>

                        <div class="post-article clearfix">
                            <h3 class="blog-home-name"><a href="#/so-sanh-camera-galaxy-s7-lg-v10">So sánh Camera: Galaxy S7 &amp; LG V10</a></h3>
                        </div>

                        <div class="post-article clearfix">
                            <h3 class="blog-home-name"><a href="#/di-lan-bien-voi-camera-chong-nuoc-20-met-ricoh-wg-m2">Đi lặn biển với camera chống nước 20 mét Ricoh WG-M2</a></h3>
                        </div>

                        <div class="post-article clearfix">
                            <h3 class="blog-home-name"><a href="#/bai-viet-mau">Movado Bold Motion: đồng hồ thông minh báo hiệu bằng đèn LED</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="blog-inner" style="min-height:325px">
                    <div class="video-home-title clearfix">
                        <h3>Video</h3>
                    </div>
                    <div class="video-content clearfix">
                        <div class="category-tab">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab-video1">
                                </div>
                                <div class="tab-pane fade" id="tab-video2" style="opacity: 1; overflow: visible;">
                                </div>
                                <div class="tab-pane fade" id="tab-video3" style="opacity: 1; overflow: visible;">
                                </div>
                                <div class="tab-pane fade" id="tab-video4" style="opacity: 1; overflow: visible;">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-6 col-xs-12 no-padding-right">
                                <div class="col-md-6">
                                    <div class="video-right block">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KGO6fiwyBnM" allowfullscreen></iframe>*@
                                        </div>
                                    </div>
                                </div>
                               <div class="col-md-6">  
                                <ul class="nav nav-tabs" id="list-videos">

                                    <li class="active"><a href="#tab-video1" data-toggle="tab">Lumia 950 XL Review tính năng và thiết kế vượt bậc</a></li>

                                    <li><a href="#tab-video2" data-toggle="tab">Review: LG G5 (Deutsch) 4K | mobile-reviews tính năng và thiết kế</a></li>

                                    <li><a href="#tab-video3" data-toggle="tab">Samsung Galaxy Grand Prime Review</a></li>

                                    <li><a href="#tab-video4" data-toggle="tab">Samsung Galaxy S7 Review</a></li>
                                </ul> </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

