<nav id="menu" class="mm-menu mm-offcanvas">
    <div class="mm-panels">
        <div class="mm-panel mm-hasnavbar mm-opened mm-current" id="mm-1" style="background: #eae6e6;color: rgba(0, 0, 0, 0.6);">
            <div class="mm-navbar">
                <a class="mm-title">Menu</a>
            </div>
            <ul class="menu__list mm-listview">
                <li class="">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="menu__item">
                    <a href="../Product/">Sản phẩm</a>
                </li>
                <li class="">
                    <a href="#/tin-tuc">Tin tức</a>
                </li>
                <li class="">
                    <a href="../Contact">Giới thiệu</a>
                </li>
                <li class="">
                    <a href="#/tu-van">Tư vấn</a>
                </li>
                <li class="">
                    <a href="#/tuyen-dung">Tuyển dụng</a>
                </li>
                <li class="">
                    <a href="../Contact/">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>