<div id="page-title">
    <h5 class="text-overflow">Danh mục bài viết</h5>
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a ui-sref="home">Danh mục bài viết</a></li>
    <li class="active">Danh sách</li>
</ol>
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <!--Product table-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div ng-controller="postCategoryListController">
        <div class="panel">
            <div class="panel-body">
                <div class="pad-btm form-inline">
                    <div class="row">
                        <div class="col-sm-6 table-toolbar-left">
                            <a class="btn btn-purple btn-labeled fa fa-plus" ui-sref="productcategory_add">Add</a>
                            <div class="btn-group btn-group">
                                <button class="btn btn-default"><i class="fa fa-exclamation-circle"></i></button>
                                <button class="btn btn-default"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-6 table-toolbar-right">
                            <div class="form-group">
                                <input id="input-search" type="text" placeholder="Search" class="form-control" autocomplete="off" ng-model="Search">
                            </div>
                            <div class="form-group">
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="text-center">Tên</th>
                                <th class="text-center">Thứ tự hiển thị</th>
                                <th class="text-center">Trang chủ</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Tạo bởi</th>
                                <th class="text-center">Sửa bởi</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="proCateCate in LstData|itemsPerPage: pageSize | filter:Search">
                                <td><a href="../nha-san-xuat/{{proCateCate.ArticleCategoryID}}" class="btn-link">{{proCateCate.ArticleCategoryID}}</a></td>
                                <td class="text-center">{{proCateCate.Name}}</td>
                                <td class="text-center">{{proCateCate.DisplayOrder}}</td>
                                <td class="text-center">
                                    <span class="label label-table label-success ng-binding">{{proCateCate.ShowOnHome}}</span>
                                </td>
                                <td class="text-center">
                                    <span class="label label-table label-success ng-binding">{{proCateCate.Status}}</span>
                                </td>
                                <td class="text-center">{{proCateCate.CreatedBy}}</td>
                                <td class="text-center">{{proCateCate.ModifiedBy}}</td>
                                <td class="text-right">
                                    <a class="btn btn-xs btn-default add-tooltip" ui-sref="postCategory_edit({ArticleCategoryID: '{{proCateCate.ArticleCategoryID}}'})"><i class="fa fa-pencil"></i></a>
                                    <button class="btn btn-xs btn-danger add-tooltip" ng-click="Delete(proCateCate.ArticleCategoryID)"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-8">
                            <dir-pagination-controls max-size="15"
                                                     direction-links="true"
                                                     boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bootbox Modals [ OPTIONAL ]-->
    <script src="../Areas/Admin/lib/plugins/bootbox/bootbox.min.js"></script>
    <!--Modals [ SAMPLE ]-->
    <!--End user table-->
</div>
<!--===================================================-->
<!--End page content-->
<script>
    $('#confirm-delete').on('click', function () {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.niftyNoty({
                    type: 'success',
                    icon: 'fa fa-check',
                    message: 'User confirmed dialog',
                    container: 'floating',
                    timer: 3000
                });
            } else {
                $.niftyNoty({
                    type: 'danger',
                    icon: 'fa fa-minus',
                    message: 'User declined dialog.',
                    container: 'floating',
                    timer: 3000
                });
            };

        });
    });
</script>