<div id="page-title">
    <h5 class="text-overflow">Sửa người dùng</h5>
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="users">Người dùng</a></li>
    <li class="active">Sửa người dùng</li>
</ol>
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div id="page-content" ng-controller="usersEditController">
    <form name="formData" novalidate>
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">UserName</label>
                            <input type="text" class="form-control" ng-model="u.UserName" name="UserName" >
                            <span class="error" ng-show="formData.UserName.$error.required">Vui lòng nhập vào trường này!</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Tên</label>
                            <input type="text" class="form-control" ng-model="u.Name" name="Name" required>
                            <span class="error" ng-show="formData.Name.$error.required">Vui lòng nhập vào trường này!</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">SDT</label>
                            <input type="text" class="form-control" ng-model="u.PhoneNumber" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Email: </label>
                            <input type="text" class="form-control" ng-model="u.Email" value="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Địa chỉ</label>
                            <input type="text" class="form-control" ng-model="u.Address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Ngày Sinh</label>
                            <div class="input-group">
                                <input type="date" class="form-control" ng-value="u.DateOfBirth|date:'yyyy-MM-dd'" ng-model="u.DateOfBirth" style="height: 31px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Giới tính</label>
                            <select class="form-control" ng-model="u.Gender" ng-options="boolToStrGender(item) for item in [true, false]"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Số lần đăng nhập sai</label>
                            <input type="number" class="form-control" ng-model="u.IncorrectLoginsCount" >
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Code: </label>
                            <input type="text" class="form-control" ng-model="u.Code" value="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">PhoneConfirmed</label>
                            <select class="form-control" ng-model="u.PhoneConfirmed" ng-options="boolToStrPhoneConfirmed(item) for item in [true, false]"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">EmailConfirmed</label>
                            <select class="form-control" ng-model="u.EmailConfirmed" ng-options="boolToStrMailConfirmed(item) for item in [true, false]"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">IsSupplier</label>
                            <select class="form-control" ng-model="u.Supplier" ng-options="boolToStrMailConfirmed(item) for item in [true, false]"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Supplier</label>
                            <select class="form-control" ng-model="u.SupplierID" name="SupplierID" ></select>
                          
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Mật khẩu</label>
                            <input type="password" class="form-control" ng-model="u.Password"
                                   ng-change="CheckValid()" name="Password" required>
                            <span class="error" ng-show="formData.Password.$error.required">Vui lòng nhập vào trường này!</span>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control" ng-model="u.rePassword"
                                   name="rePassword"
                                   required equal="{{u.Password}}"
                                   ng-change="CheckValid()">
                            <span class="error" ng-show="formData.rePassword.$error.required">Vui lòng nhập vào trường này!</span>
                            <span class="error" ng-show="{{validPass}}" id="errpass">Mật khẩu không giống nhau!</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <select class="form-control" ng-model="u.Status" ng-options="boolToStrStatus(item) for item in [true, false]"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Role</label>
                        <select class="form-control" ng-options="opt.id as opt.Name for opt in listRole" ng-model="u.Role" name="Role"></select>
                        <div class="form-group">
                        </div>
                        <span class="error" ng-show="formData.Role.$error.required">Vui lòng nhập vào trường này!</span>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group date">
                            <label class="control-label">LinkAvt: </label>
                            <div class="input-group date">
                                <input type="text" class="form-control" disabled ng-model="u.LinkAvt">
                                <span class="input-group-addon" ng-click="ChooseImage()"><i class="fa fa-upload fa-lg"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <img class="img img-thumbnail" ng-src="{{u.LinkAvt}}" id="img1" />
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-default btn-icon icon-lg fa fa-arrow-left fa-lg" type="button" ui-sref="users"></button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-labeled fa fa-send fa-lg" 
                                style="float: right;" type="submit" ng-click="Update()" 
                                ng-disabled="!formData.$valid">Save</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>

