<div id="page-title">
    <h5 class="text-overflow">Danh sách người dùng</h5>
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li class="active">Danh sách người dùng</li>
</ol>
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <!--Product table-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div ng-controller="userListController">
        <div class="panel">
            <div class="panel-body">
                <div class="pad-btm form-inline">
                    <div class="row">
                        <div class="col-sm-6 table-toolbar-left">
                            <a class="btn btn-purple btn-labeled fa fa-plus" ui-sref="user_add">Add</a>
                            <div class="btn-group btn-group">
                                <button class="btn btn-default"><i class="fa fa-exclamation-circle"></i></button>
                                <button class="btn btn-default"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-6 table-toolbar-right">
                            <div class="form-group">
                                <input id="input-search" type="text" placeholder="Search" class="form-control" autocomplete="off" ng-model="Search">
                            </div>
                            <div class="form-group">
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">UserName</th>
                                <th class="text-center">Tên</th>
                                <th class="text-center">Địa chỉ</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Trạng Thái</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="acc in lstData|itemsPerPage: pageSize | filter:Search">
                                <td class="text-center"><a ui-sref="user_edit({ID: '{{acc.ID}}'})" class="btn-link">{{acc.UserName}}</a></td>
                                <td class="text-center">{{acc.Name}}</td>
                                <td class="text-center">{{acc.Address}}</td>
                                <td class="text-center">{{acc.Email}}</td>

                                <td class="text-center">
                                    <span class="label label-table label-success" ng-if="acc.Status">Kích hoạt </span>
                                    <span class="label label-table label-warning" ng-if="!acc.Status">Vô hiệu hóa</span>
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-xs btn-default add-tooltip" ui-sref="user_edit({ID: '{{acc.ID}}'})"><i class="fa fa-pencil"></i></a>
                                    <button class="btn btn-xs btn-danger add-tooltip" ng-click="Delete(acc.UserName,acc.Name)"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-8">
                            <dir-pagination-controls max-size="15"
                                                     direction-links="true"
                                                     boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Bootbox Modals [ OPTIONAL ]-->
    <script src="../Areas/Admin/lib/plugins/bootbox/bootbox.min.js"></script>
    <!--Modals [ SAMPLE ]-->
    <!--End user table-->
</div>
<!--===================================================-->
<!--End page content-->