<link href="../Areas/Admin/lib/plugins/morris-js/morris.min.css" rel="stylesheet" />

<div class="row" ng-controller="BieuDo">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Thống kê sản phẩm tháng</h3>
            </div>
            <div class="panel-body">

                <!--Morris Area Chart placeholder-->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div id="statisticProduct" style="height:212px"></div>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Lưu lượng người truy cập</h3>
            </div>
            <div class="panel-body">

                <!--Morris Area Chart placeholder-->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div id="userAnalytic" style="height:212px"></div>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            </div>
        </div>
    </div>
</div>
