a{
    text-decoration:none;
}
a:hover{
    text-decoration:none!important;
}
.hot-words-item{
    margin-left:20px!important;
}

    .hot-words-item:hover {
        text-decoration: none;
    }

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 50px !important;
    opacity: 1 !important
}

    .carousel-control-prev > span, .carousel-control-next > span {
        font-size: 35px;
        width: 35px;
        height: 50px;
        background: rgba(128, 128, 128, 0.7803921568627451);
        line-height: 50px;
    }

.carousel-control-left-radius {
    left: -10px !important
}

    .carousel-control-left-radius > span {
        font-size: 30px;
        width: 45px;
        height: 45px;
        color: black !important;
        background: #ffffff !important;
        line-height: 45px;
        border-radius: 50%;
    }

.carousel-control-right-radius {
    right: -10px !important
}

    .carousel-control-right-radius > span {
        font-size: 30px;
        width: 45px;
        height: 45px;
        color: black !important;
        background: #ffffff !important;
        line-height: 45px;
        border-radius: 50%;
    }

.carousel-control-prev {
    left: 15px;
}

.carousel-control-next {
    right: 15px;
}

.carousel-indicators > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.footer__policy-link:hover {
    text-decoration: none;
}

.block-legal-vn__detail {
    text-align: center;
}

body {
    background: #f0f0f0;
}

.cursor-pointer {
    cursor: pointer
}

.hightlight-product {
    margin: 0
}

    .hightlight-product img {
        width: 100%
    }

    .hightlight-product > div {
        background: white;
        padding: 0 5px;
        border-radius: 3px;
    }

        .hightlight-product > div:hover {
            border: 2px solid #f0f0f0
        }