.padding-md{
    padding:10px
}
.padding-lg{
    padding:25px
}
.padding-sm{
    padding:5px
}
.padding-left-md {
    padding-left: 10px
}

.padding-left-lg {
    padding-left: 25px
}

.padding-left-sm {
    padding-left: 5px
}
.padding-right-md {
    padding-right: 10px
}

.padding-right-lg {
    padding-right: 25px
}

.padding-right-sm {
    padding-right: 5px
}

.padding-top-md {
    padding-top: 10px
}

.padding-top-lg {
    padding-top: 25px
}

.padding-top-sm {
    padding-top: 5px
}
.padding-bottom-md {
    padding-bottom: 10px
}

.padding-bottom-lg {
    padding-bottom: 25px
}

.padding-bottom-sm {
    padding-bottom: 5px
}












.margin-md {
    margin: 10px
}

.margin-lg {
    margin: 25px
}

.margin-sm {
    margin: 5px
}
.margin-left-md {
    margin-left: 10px
}

.margin-left-lg {
    margin-left: 25px
}

.margin-left-sm {
    margin-left: 5px
}

.margin-right-md {
    margin-right: 10px
}

.margin-right-lg {
    margin-right: 25px
}

.margin-right-sm {
    margin-right: 5px
}

.margin-top-md {
    margin-top: 10px
}

.margin-top-lg {
    margin-top: 25px
}

.margin-top-sm {
    margin-top: 5px
}

.margin-bottom-md {
    margin-bottom: 10px
}

.margin-bottom-lg {
    margin-bottom: 25px
}

.margin-bottom-sm {
    margin-bottom: 5px
}
